<%= provide(:title, "Home") %>
	<div id="wrapper">
			<section>
			<% if logged_in? %>
			<div id='home_page'>
				<a href="/posts"><div class='button light center'>View Posts</div></a>
				<!-- <div stlye="text-align: center;">OR</div> -->
				<a href="/add"><div class='button light center'>Add Post</div></a>
			<% else %>
				<a href="/signup"><div class='button light center'>Start Moving!</div></a>
			</div>
			<% end %>
		</section>
		</div>
	</body>


