@import "bootstrap-sprockets";
@import "bootstrap";

/**************************
HEADING
**************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background-color: #1896C4;
	border-bottom: 5px solid #003C52;
	margin-top: 0;
	height: 95px;
}

a {
	text-decoration: none;
	color: #000000;
}

#logo {
	float: left;
	margin-left: 3%;
	width: 45%;
	text-align: left;
}

header h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 3.5em;
	font-weight: normal;
	line-height: 0.5em;
	margin-bottom: 10px;
}


header h2 {
	font-size: 0.825em;
	margin-bottom: 20px;
	font-weight: normal;
}

header a:hover {
	text-decoration: none;
	color: #000000;
}

/**************************
HEADING
**************************/

nav {
	background: #1896C4;
	float: right;
	font-size: 1.125em;
	margin-right: 2.5%;
	text-align: right;
	padding-top: 65px;
	/*width: 45%;*/
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	line-height: 1em;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

a:visited {
	color: #000000;
}

#wrapper {
	margin: 0 auto;
	padding: 0 5%;
	max-width: 940px;
	text-align: center;
}

#submit_location {
	float: center;
}

#moving_info {
	margin-top: 0;
}

#moving_posts_main {
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 1px solid #ccc;
	-moz-column-count: 2;
	-moz-column-gap: 2.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;
    column-count: 2;
    column-gap: 2.5em;
    /*padding-left: 28%;*/
    text-align: center;
    padding-top: 8px;
}

#bid_time {
	list-style: none;
}

#bid_time h4 {
	text-align: center;
	font-size: 1.25em;
	margin-top: 0;
}

#post_other_info {
	list-style: none;
}

#post_links {
	list-style: none;
}

#post_links li {
	padding: 2px 0 2px 0;
}

#container {
   min-height:100%;
   position:relative;
  /* background-color: blue*/
}

/*#home_page {
position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 50px;
  left: 50px;
}*/

$dark:  #444444;
$light: #999999;
$white: #FFFFFF;

.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  text-align: center; 
  margin-top: 0%;
  
  &.light {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  }

  #sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:100px;
    background-color: #1896C4;
    margin-top: 250px;
    margin-left: 1.5%;
    margin-bottom: 250px;
    color: white;
    padding-right: 250px;
    
}

#sidebar p {
	height: auto;
	width: 250px;
	color: black;
	padding-left: 5px;
	padding-right: 2.5px; 
}

/**************************
FOOTER
**************************/

#footer {
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
	height: 60px;   /* Height of the footer */
	color: #cccccc;
	text-align: center;
	/*clear: both;*/
	font-size: 0.75em;
	/*background-color: #c4c4c4;*/
	margin-top: 50px;

}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/**************************
Forms
**************************/

.form-control {
	
}

input {
  height: auto !important;
}

#signup {
	margin-top: 0;
	text-align: center;
}