@media screen and (max-width: 10px) {
	#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:100px;
    background-color: #1896C4;
    margin-top: 250px;
    margin-left: 1.5%;
    margin-bottom: 250px;
    color: white;
    padding-right: 250px;
    display: none;
    
}

#sidebar p {
	height: auto;
	width: 250px;
	color: green;
	padding-left: 5px;
	padding-right: 2.5px; 
}
}

@media screen and (max-width: 738px) {

    /**************************
    HEADER
    **************************/

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
        font-size: 1em;
    }

    #logo h1 {
            
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }

    header {
        border-bottom: 5px solid #599a68;
    }
    
}

@media screen and (max-width: 645px) {

    /**************************
    HEADER
    **************************/

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
        font-size: 0.75em;
    }

    #logo h1 {
            
    }

    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }

    header {
        border-bottom: 5px solid #599a68;
    }
    
}